@import '~bootstrap/scss/bootstrap';

$white: #fff;
$black: #000;
$purple: #4f2c84;
$light-blue: #aac0de;
$pink: #d24e8e;
$orange: #cd7939;
$red: #cb412d;
$yellow: #fdf35f;
$green: #487a42;
$blue: #2f4395;
